<span style="font-size: 14pt">MIPT, Applied ML, Autumn 2018</span>

<span style="font-size: 16pt"> HW #3 Ранжирование, тематическое моделирование, обработка естественного языка.

<span style="color:red; font-size: 14pt;"> Дедлайн 31.10.2018 23:59 </span>

<span style="color:blue; font-size: 12pt">Alexey Romanenko </span>,
<span style="color:blue; font-size: 12pt; font-family: 'Verdana'">alexromsput@gmail.com</span>

<span style="color:blue; font-size: 12pt">Zukhba Anastasia </span>,
<span style="color:blue; font-size: 12pt; font-family: 'Verdana'">a__l@mail.ru</span>

**Оформление дз**: 
- Выполненное задание требуется отправлять через <a href='https://goo.gl/forms/XPSIbwp7wPxB4SsI3'>форму </a>
- Выполненное дз прикрепляйте в формате файла ``<фамилия>_<группа>_task<номер>.ipynb``, например: ``ivanov_594_task1.ipynb`` 

**Вопросы**:
- Вопросы присылайте на почту ml.course.mipt@gmail.com
- Укажите тему письма в следующем формате ``ML2018_fall_Question_<Тема вопроса>``

--------
- **PS1**: Будьте внимательны при заполнении формы, когда отправляете ДЗ

<h1 align="center">Теоретическая часть (25%) </h1>

### Контрольные вопросы (2%)

**1)** Что является объектом в задаче обучения ранжированию? Какой смысл имеют целевые метки? Какие объекты сравнимы между собой?

**2)** В чём преимущество метрики NDCG перед метрикой MAP?

**3)** Опишите причину неустойчивости PLSA.

**4)** На каких выборках наиболее заметна разница в работе PLSA и LDA?

**5)** По каким причинам в ЕМ-алгоритме для тематического моделирования E-шаг встраивается внутрь М-шага?

**6)**  Опишите применение тематического моделирования в задаче информационного поиска.

**7)** В чем основная причина сложности обработки русского языка по сравнению с английским?

**8)**  Каким образом парсинг зависимостей между словами помогает в решении задач обработки естественного языка?

**9)**  Что такое кореференции?

**10)**  В чем отличие между CBOW и Skip-gram?

### Задачи

**Задача 1** (2%)

Посчитайте PageRank для заданного графа вручную и при помощи алгоритма, описанного в семинаре. Результаты сравните.

 <img width=300 src="./gr1.png">

** Задача 2** (2%)

Пользователь браузера в дополнение к кликам по ссылкам один раз может перейти по кнопке *Назад* и вернуться на предыдущую страницу. Можно ли такую модель описать с помощью однородной марковской цепи? Если да, опишите, если нет, докажите.

**Задача 3** (3%)

Опишите вероятностные предположения, на которые опирается  TF-IDF при подсчете вероятностей.

Пусть задана колекция текстовых документов $d_1, d_2,\ldots, d_n$, состоящая из двух видов слов: $w_1$ и $w_2$. В документе $d_i$ ровно $k_{i1}$ слов $w_1$ и $k_{i2}$ слов $w_2$.

Оцените вероятность втретить $k$ раз слово $w_1$. Сравните с оценкой вероятности, используемой в TF-IDF. 

Совпадают ли эти значения? Если нет, проведите анализ "источника" различий.

**Задача 4** (2%)

Задано 10 документов. Их отранжировали идеально, а затем 4 и 6 документы поменяли местами. 
Подсчитайте коэффициент ранговой корреляции (τ Кенделла).

**Задача 5** (4%)

С какой целью общеупотребительные слова исключают из рассмотрения при построении тематической модели? Если их не исключать, как это отразится на матрицах $\Phi$ и $\Theta$?

**Задача 6** (5%)

Здадано значение $KL(P∥Q)$. Можно ли оценить значение $KL(Q∥P)$? Если да, то оцените; если нет, то обоснуйте.

**Задача 7** (+5%) 

Рассмотрим пример из семинара:

In [6]:
import spacy
from spacy import displacy

text = """But Google is starting from behind. The company made a late push
into hardware, and Apple’s Siri, available on iPhones, and Amazon’s Alexa
software, which runs on its Echo and Dot devices, have clear leads in
consumer adoption."""

nlp = spacy.load('en_core_web_sm')
doc = nlp(text)
displacy.render(doc, style='ent', jupyter=True)

OSError: [E050] Can't find model 'en_core_web_sm'. It doesn't seem to be a shortcut link, a Python package or a valid path to a data directory.

Найдите способ устранить хотябы часть некорректных меток географических объектов.

<h1 align="center">Практическая часть (75%)</h1> 
* Ссылка на контест: http://www.kaggle.com/c/mipt-ml-fall2018-hw3

# Описание форматов

Вам выдается 4 файла:

* `relevance_train.csv` --- обучающая выборка пар запрос-документ и асессорские метки релевантности (все документы имеют одинаковую релевантность, т.е. можно считать, что выданы просто релевантные документы).
* `relevance_test.csv` --- тестовая выборка пар запрос-документ
* `queries.csv` --- запросы из relevance_test и relevance_train (в формате id_запроса, текст запроса)
* `documents.csv` --- документы из relevance_test и relevance_train (началу документа соответствует строка "TEXT $n$", где $n$ - это id данного документа). ВНИМНИЕ: не для всех документов из `relevance_train.csv` есть описание!

Колонки в первых трёх файлах могут быть следующего типа:

* `QueryId` --- уникальный номер запроса
* `DocumentId` --- номер документа, не повторяется для одного запроса
* `Relevance` --- асессорская метка релевантности

Формат файла ответов приведен ниже. Пары запрос-документ должны соответсвовать файлу `relevance_test.csv` и должны быть упорядочены по убыванию построенной функции релевантности. То есть так, как в поисковой выдаче.
QueryId,DocumentId
101,5
101,0
101,9
101,13
101,17
...

Файл stopwords содержит стоп-слова, а sample_submission - это пример сабмита, который нужно отправлять в качестве ответа.

# Оценка
* Чтобы получить удв(3) нужно добить baseline_1.
* Более детальная разбалловка будет сформирована после окончания контеста.

**ВАЖНО:**
Если вы не успели сделать ни одного сабмита до дедлайна, но хотите получить баллы за контест, тогда требуется отправлять вместе с решение скриншот ваших сабмитов (можно смотреть в истории submissions) с указанием того сабмита, который требуется засчитать.

In [1]:
from xgboost import XGBRegressor

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score

In [3]:
query_data = pd.read_csv('all/queries.csv', names=['id', 'query'])
query_data.head()

   id                                              query
0   1  KENNEDY ADMINISTRATION PRESSURE ON NGO DINH DI...
1   2  EFFORTS OF AMBASSADOR HENRY CABOT LODGE TO GET...
2   3  NUMBER OF TROOPS THE UNITED STATES HAS STATION...
3   4  U.S . POLICY TOWARD THE NEW REGIME IN SOUTH VI...
4   5            PERSONS INVOLVED IN THE VIET NAM COUP .

In [4]:
from nltk.tokenize import word_tokenize

In [5]:
from nltk.stem.lancaster import LancasterStemmer

In [41]:
from nltk.corpus import stopwords
stop_words = stopwords.words()
stop_words += ['.', ',', '"', '\'', '`', '!', '/', '-', '_', '?', "'s", "'t", '``', "''", '(', ')', '31', '32', '14', ';', ':']

In [42]:
id_to_query = {}
stemer = LancasterStemmer()
for row in query_data.iterrows():
    id_to_query[row[1]['id']] = [stemer.stem(w) for w in word_tokenize(row[1]['query'].lower()) if w not in stop_words]

In [43]:
id_to_doc = {}
stemer = LancasterStemmer()
with open('all/documents.csv') as fin:
    doc = ""
    ind = 0
    for line in fin:
        if line.startswith("*TEXT"):
            if doc:
                id_to_doc[ind] = [stemer.stem(w) for w in word_tokenize(doc.strip().lower()) if w not in stop_words]
            ind += 1
            doc = ""
        else:
            doc += line.strip() + " "
    id_to_doc[ind] = [stemer.stem(w) for w in word_tokenize(doc.strip()) if w not in stop_words]

In [24]:
data = pd.read_csv('all/relevance_train.csv')
data.head()

   QueryId  DocumentId  Relevance
0        1         268          1
1        1         288          1
2        1         304          1
3        1         308          1
4        1         323          1

In [25]:
data.shape

(127, 3)

In [26]:
data[data.DocumentId > 423]

    QueryId  DocumentId  Relevance
29       15         424          1
44       26         425          1

In [27]:
data = data.drop(data[data.DocumentId > 423].index)
data.shape

(125, 3)

In [44]:
tokens = set()
for q in id_to_query.values():
    tokens.update(set(q))
tokens = list(tokens)

In [46]:
N_w = {}
for t in tokens:
    cnt = 0
    for doc in id_to_doc.values():
        if t in doc:
            cnt += 1
    N_w[t] = cnt

In [48]:
from collections import Counter

def tf_idf(q, d):
    counter = Counter()
    counter.update(d)
    N = len(id_to_doc)
    coef = np.float64(0)
    
    for w in q:
        n_w = N_w[w]
        n_wd = counter[w]
        if n_w > 0:
            coef += np.float64(n_wd) * np.log(np.float64(N) / np.float64(n_w))

    return coef

In [49]:
from tqdm import tqdm_notebook

In [50]:
q_doc_feat = np.zeros((len(id_to_query), len(id_to_doc)))
for i, q in tqdm_notebook(id_to_query.items()):
    for j, d in id_to_doc.items():
        q_doc_feat[i - 1, j - 1] = tf_idf(q, d)

HBox(children=(IntProgress(value=0, max=83), HTML(value='')))

In [51]:
q_doc_feat.shape, len(id_to_query), len(id_to_doc)

((83, 423), 83, 423)

In [52]:
test_data = pd.read_csv('all/relevance_test.csv')
test_data.head()

   QueryId
0        2
1        3
2        4
3        5
4        6

In [62]:
quids = test_data.QueryId.values

In [63]:
queries = [q for q in quids for i in range(len(id_to_doc))]

In [64]:
docs = []
for q in quids:
    docs += list(np.argsort(q_doc_feat[q - 1, :])[-1::-1] + 1)

In [65]:
sub = pd.DataFrame({'QueryId':queries, "DocumentId":docs})
sub.head()

   DocumentId  QueryId
0         326        2
1         370        2
2         334        2
3         349        2
4         211        2

In [132]:
sub.shape

(17766, 2)

In [66]:
sub.to_csv('tfidf_sub_3.csv', index=False)